.background {
    -fx-background-color: #2f4356;
}

.split-pane-up {
    -fx-background-color: #3a5066;
}

.split-pane-bottom {
    -fx-background-color: #455e77;
}

.split-pane-roles {
    -fx-background-color: #455e77;
}

.split-pane-stats {
    -fx-padding: 0;
}

.anchor-pane-left-stats {
    -fx-background-color: #3a5066;

}

.anchor-pane-right-stats {
    -fx-background-color: #455e77;
}

.line-chart {
    -fx-background-color: #455e77;
}

.chart-plot-background {
    -fx-background-color: #455e77;
}

.axis {
    -fx-tick-label-fill: white;
}

.check-box {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.split-pane-divider {
    -fx-background-color: #2f4356;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header-new {
    -fx-font-size: 22pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.tool-bar {
    -fx-background-color: #3a5066;
    -fx-alignment: center;
}

.tool-bar .button {
    -fx-background-color: #ceccca;
    -fx-border-style: none;
    -fx-padding: 5 5 5 5;
    -fx-opacity: 0.6;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-font-weight: 700;
}

.tool-bar .button:hover {
    -fx-background-color: #e8e5e3;
}

.table-view {
    -fx-base: #3a5066;
    -fx-control-inner-background: #3a5066;
    -fx-background-color: #3a5066;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #31465b;
}

.menu-bar {
    -fx-background-color: derive(#3a5066,20%);
}

.context-menu {
    -fx-background-color: derive(#3a5066,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.grid-pane-stats .label {
    -fx-padding: 4;
}

.grid-pane-stats .button {
    -fx-background-color: #ceccca;
    -fx-border-style: none;
    -fx-padding: 5;
    -fx-opacity: 0.6;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-font-weight: 700;
}

.grid-pane-stats .combo-box {
    -fx-side: 20;
}

.table-view-stats .column-header .label{
    -fx-font-size: 12pt;
}

.grid-pane-edit .table-view .column-header .label{
    -fx-font-size: 10pt;
}

.grid-pane-edit .table-view .button {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-padding: 5 5 5 5;
    -fx-opacity: 0.6;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-font-weight: 700;
}

.grid-pane-edit .button {
     -fx-background-color: white;
     -fx-font-weight: 500;
     -fx-padding: 0;
     -fx-font-size: 18px;
     -fx-text-fill: black;
     -fx-background-radius: 15, 15;
     -fx-border-radius: 15;
     -fx-border-width: 2;
 }

.anchor-pane-left-stats .button {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-padding: 5 5 5 5;
    -fx-opacity: 0.6;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-font-weight: 700;
}


.grid-pane-edit .button:hover {
    -fx-background-color: #c9ddff;
    -fx-font-weight: 500;
    -fx-padding: 0;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-background-radius: 15, 15;
    -fx-border-radius: 15;
    -fx-border-width: 2;
}

.button-default {
    -fx-background-color: #ceccca;
    -fx-border-style: none;
    -fx-padding: 5 5 5 5;
    -fx-opacity: 0.6;
    -fx-background-radius: 0 0 0 0;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-font-weight: 700;
}

.anchor-pane-new {
    -fx-background-color: #2f4356;
}


